<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<appender name="Debug-Appender" type="log4net.Appender.RollingFileAppender">
		<appendToFile value="true" />
		<datePattern value=".yyyyMMdd.'log'" />
		<encoding value="utf-8" />
		<file value="..\LogFiles\Debug.log" />
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="Debug" />
			<levelMax value="Debug" />
		</filter>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread]: %message%n" />
		</layout>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<rollingStyle value="Date" />
		<staticLogFileName value="true" />
	</appender>
	<appender name="Error-Appender" type="log4net.Appender.RollingFileAppender">
		<appendToFile value="true" />
		<datePattern value=".yyyyMMdd.'log'" />
		<encoding value="utf-8" />
		<file value="..\LogFiles\Error.log" />
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="Error" />
			<levelMax value="Fatal" />
		</filter>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread]: %message%n" />
		</layout>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<rollingStyle value="Date" />
		<staticLogFileName value="true" />
	</appender>
	<root>
		<appender-ref ref="Debug-Appender" />
		<appender-ref ref="Error-Appender" />
		<level value="All" />
	</root>
</log4net>